.upload{
    .upload-file{
        padding: 10px 0 10px 10px;

        .file-name{
            margin:0;
            font-size:18px;
            font-weight: normal;
            color: #747474;
        }

        .file-dir{
            margin:0;
            color: #ccc;
        }
    }
    .upload-detail-file{
        @extend .upload-file;

    }
    .upload-detail-act{

        button{
            line-height: 100%;
            text-align: center;
            color: #747474;
            background-color: #eee;

            &:hover{
                background-color: #5db2ff;
                color: #fff;
            }
        }
    }
}